**5.5 Strings Index**

In [1]:
#Dalam string index, karakter pertama adalah index ke 0, karakter kedua adalah index ke 1,dst
#Spasi tetap dihitung dalam index
#Mencari index menggunakan kurung siku [ ] 
#Menggunakan tanda titik 2 yang artinya sampai

alamat_10 = 'Singapadu Tengah'
print(alamat_10[0:5])
#Batas awal adalah index ke 0, pada contoh ini adalah huruf S
#Batas akhir adalah index ke 5 artinya karakter yang muncul saat di run adalah index ke 4 (batas akhir tidak termasuk)

Singa

In [2]:
#Tetap menggunakan variabel yang sama
print(alamat_10[5:])
#Batas awal adalah index ke 5,sedangkan index akhir tidak dideklarasikan sehingga huruf yang dimunculkan dari index ke 5 sampai akhir

padu Tengah

In [3]:
#Tetap menggunakan variabel yang sama
print(alamat_10[:10])
#Batas akhir adalah index ke 10, sehingga saat di run yang muncul index ke 9. Dimana index ke 9 pada contoh ini adalah spasi sehingga tidak terlihat

Singapadu

In [4]:
#Tetap menggunakan variabel yang sama
print(alamat_10[0:-1])
#Index ke -1 artinya huruf/karakter pertama dari belakang, dalam contoh index ke -1 adalah h, sehingga saat saat di run yang muncur adalah index ke -2 yaitu a

Singapadu Tenga

In [5]:
#Tetap menggunakan variabel yang sama
#Percobaan memunculkan index ke 0 dengan batas index ke 12 yang mempunyai loncatan sebanyak 3 index
print(alamat_10[0:12:3])
#0 adalah batas awal, 12 adalah batas akhir, dan 3 adalah loncatan tiap huruf

Sga

In [6]:
#Tetap menggunakan variabel yang sama
print(alamat_10[0:10:2:1])
#Error karena tidak bisa memuat lebih dari 3 index
# 0 adalah batas awal, 1o adalah batas akhir, 2 adalah loncatan tiap huruf, sedangkan 1 tidak memiliki arti

SyntaxError: ignored

In [7]:
#Tetap menggunakan variabel yang sama 
print(alamat_10[:])
#Saat tidak ada index yang dideklarasikan pada perintah print maka akan dicetak semua index pada variabel alamat_10

Singapadu Tengah

In [8]:
#Mencoba menggunakan varibel lain
julukan_10 = 'Bali adalah pulau seribu pura'
print(julukan_10[3:9])
print(julukan_10[0:16])
print(julukan_10[:25])
print(julukan_10[4:])
print(julukan_10[2:27:4])
print(julukan_10[0:-3:3])
print(julukan_10[:])

i adal
Bali adalah pula
Bali adalah pulau seribu
 adalah pulau seribu pura
ldhlsbu
Bidapasi
Bali adalah pulau seribu pura

**5.6 Strings Methods**

In [9]:
Nyepi_10 = 'Pada saat nyepi tidak boleh keluar'
print(Nyepi_10.upper())
#upper berfungsi untuk membuat semua karakter pada variabel menjadi huruf kapital

PADA SAAT NYEPI TIDAK BOLEH KELUAR

In [10]:
#Mendeklarasikan variabel
nama_10 = 'NI GUSTI AYU AGUNG INDRASWARI'
print(len(nama_10))
#len berfungsi untuk menghitung panjang semua karakter pada variabel termasuk spasi
#Berbeda dengan index, perhitungan perintah len dimulai dari 1

29

In [11]:
print(nama_10.lower())
#lower berfungsi untuk mengubah semua karakter pada variabel menjadi huruf kecil semuanya

ni gusti ayu agung indraswari

In [12]:
print(nama_10.title())
#title berfungsi mengubah setiap awal kata dimulai dengan huruf kapital

Ni Gusti Ayu Agung Indraswari

In [13]:
print(nama_10.replace('AYU','KADEK'))
print(nama_10.replace('NI','I'))
#replace berfungsi untuk mengganti suatu kata dalam variabel dengan kata lainnya
#Kata sebelum tanda koma adalah kata awal pada variabel dan kata setelah tanda koma adalah kata penggantinya

NI GUSTI KADEK AGUNG INDRASWARI
I GUSTI AYU AGUNG INDRASWARI

In [14]:
print(nama_10.center(50))
print(nama_10.center(100))
#center berfungi untuk membuat penulisan data pada variabel menjorok ke dalam
#Semakin besar anggka yang ditulis pada center maka penulisan data pada variabel akan semakin menjorok ke dalam

          NI GUSTI AYU AGUNG INDRASWARI
                                   NI GUSTI AYU AGUNG INDRASWARI

In [15]:
print(nama_10.find('INDRASWARI'))
print(nama_10.find('GUSTI'))

#find berfungsi untuk mencari kata atau karakter pada variabel

19
3

In [16]:
print(nama_10.find('Ayu'))
#Outputnya -1 karena tidak ada kata Ayu pada variabel nama_10
#Perlu diperhatikan penggunaan huruf kapital atau huruf kecil agar sesuai dengan data pada variabel yang telah ditentukan

-1

In [17]:
Anak_10 = 'Zaman sekarang banyak anak-anak bermain lato-lato'
print(Anak_10.count('anak'))
print(Anak_10.count('sekarang'))
print(Anak_10.count('lato'))
#count berfungsi untuk menghitung berapa kali karakter atau kata yang ditentukan muncul

2
1
2

In [18]:
print('lato-lato' in Anak_10)
#in berfungsi untuk menentukan apakah kata atau karakter yang ditentukan ada pada variabel

True

In [19]:
print('banyak' in Anak_10)

True

In [20]:
print('zaman' in Anak_10)
#Menghasilkan false karena kesalahan penggunaan huruf kapital dan kecil
#Perlu diperhatikan penggunaan huruf kapital atau kecil agar sesuai dengan data pada variabel karena ini merupakan sensitive case

False

**5.7 Operasi Matematika di Python**

In [21]:
#Mendeklarasikan variabel
a = 10
b = 2
i = 11
j = 3

In [22]:
#Operasi penjumlahan menggunakan tanda +
c = a + b
print(a,'+',b, '=',c)

10 + 2 = 12

In [23]:
#Operasi pengurangan menggunakan tanda -
d = a - b
e = b - a
print(a,'-',b,'=',d)
print(b,'-',a,'=',e)

10 - 2 = 8
2 - 10 = -8

In [24]:
#Operasi perkalian menggunakan tanda *
f = a * b
print(a,'x',b,'=',f)

10 x 2 = 20

In [25]:
#Operasi pembagian menggunakan tanda /
g = a / b
h = i / j
print(a,':',b,'=',g)
print(i,':',j,'=',h)

10 : 2 = 5.0
11 : 3 = 3.6666666666666665

In [26]:
#Operasi pembulatan pembagian menggunakan tanda //
k = i // j
print(i,':',j,'=',k)

11 : 3 = 3

In [27]:
#Operasi sisa pembagian atau modulo menggunakan tanda %
l = a % b
o = i % j
print(a,'mod',b,'=',l)
print(i,'mod',j,'=',o)

10 mod 2 = 0
11 mod 3 = 2

In [28]:
#Operasi pemangkatan menggunakan tanda **
m = a ** b
n = i ** j
print(m)
print(n)

100
1331

In [29]:
#Prioritas operasi matematika
#1. () Angka yang ada di dalam kurung akan dioperasikan terlebih dahulu
#2. Eksponen **
#3. Perkalian,pembagian,modulo,pembulatan pembagian
#4. Penjumlahan, pengurangan
# contoh
hasil = a * b - i / j + a 
print(a,'x',b,'-',i,':',j,'+',a,'=',hasil)

10 x 2 - 11 : 3 + 10 = 26.333333333333332

In [30]:
#Augmented operator adalah operator yang digunakan untuk menetapkan beberapa nilai ke variabel

#Augmented operator pada pemjumlahan menggunakan tanda +=
y = 20
y += 6
print(y)

#Disini artinya nilai y awal yaitu 20 ditambah dengan 6
#Sehingga nilai y berubah menjadi 26
# y = y + 6 maka y = 20 + 6 , y = 26

26

In [31]:
#Augmented operator pada pengurangan menggunakan tanda -=
y -= 5
print(y)
#Nilai y yang dioperasikan adalah nilai y terakhir yaitu 26
#Disini artinya y = y - 5, sehingga y = 26 - 5
#Maka y = 21, nilai y = 21 menggantikan nilai y = 26

21

In [32]:
#Augmented operator pada perkalian menggunakan tanda *=
y *= 5
print(y)
#Nilai y yang dioperasikan adalah nilai y terakhir yaitu 21
#Disini artinya y = y * 5, sehingga y = 21 * 5
#Maka y = 105, nilai y = 105 menggantikan nilai y = 21

105

In [33]:
#Augmented operator pada pembagian menggunakan tanda /=
z = 70
z /= 10
print(z)
#Disini artinya y = y / 5, sehingga y = 70 / 10
#Maka y = 7.0
#Output bertipe data float oleh karena itu berbentuk bilangan desimal
type(z)

7.0

float

In [34]:
#Augmented operator pada sisa pembagian atau modulo menggunakan tanda %=
z %= 3
print(z)
#Nilai z yang dioperasikan adalah nilai z terakhir yaitu 7.0
#Disini artinya z = z mod 5, sehingga y = 7 mod 3
#Maka z = 1.0
#Output bertipe data float oleh karena itu berbentuk bilangan desimal
type(z)

1.0

float

**5.8 Operator Perbandingan di Python**

In [35]:
#Operator perbandingan 1
#Operator perbandingan lebih besar menggunakan tanda >
a = 7 > 6
print(a)

#Operator perbandingan lebih kecil menggunakan tanda <
a = 6 < 7
print(a)

#Operator perbandingan lebih besar dari atau sama dengan menggunakan tanda >=
a = 7 >= 6
print(a)

#Operator perbandingan lebih kecil dari atau sama dengan menggunakan tanda <=
a = 6 <= 7
print(a)

#Operator perbandingan sama dengan menggunakan tanda ==
a = 6 == 6
print(a)

#Operator perbandingan tidak sama dengan menggunakan tanda !=
a = 6 != 7
print (a)

#Semua percobaan di atas akan menghasilkan output True atau False

True
True
True
True
True
True

In [36]:
#Operator perbandingan 2
#Untuk membandingkan output pada operator perbandingan 1 dan 2

#Operator perbandingan lebih besar menggunakan tanda >
a = 6 > 7
print(a)

#Operator perbandingan lebih kecil menggunakan tanda <
a = 7 < 6
print(a)

#Operator perbandingan lebih besar dari atau sama dengan menggunakan tanda >=
a = 6 >= 7
print(a)

#Operator perbandingan lebih kecil dari atau sama dengan menggunakan tanda <=
a = 7 <= 6
print(a)

#Operator perbandingan sama dengan menggunakan tanda ==
a = 6 == 7
print(a)

#Operator perbandingan tidak sama dengan menggunakan tanda !=
a = 7 != 7
print (a)

#Semua percobaan di atas akan menghasilkan output True atau False

False
False
False
False
False
False

In [39]:
a = 6 > 7
b = 7 > 6
print(a)
print(~a)
print(b)
print(~b)

#Tanda ~ artinya negasi atau ingkaran
#Output -1 artinya True
#Output -2 artinya False

False
-1
True
-2

**5.9 Operator Logika di Python**

In [37]:
#Mendeklarasikan variabel
pulpen_10 = 7
pensil_10 = 4
buku_10 = 10

In [38]:
#Operator logika and
#Operator logika and akan bernilai True jika kedua nilai adalah True
#Operator logika and akan bernilai False jika salah satu atau kedua nilai adalah False
#Operator ini sama seperti konjungsi pada logika matematika

print(pulpen_10 > pensil_10 and buku_10 > pulpen_10)
#Bernilai True karena kedua pernyataan bernilai True yaitu 7 > 4 dan 10 > 7

True

In [40]:
print(pensil_10 < buku_10 and pensil_10 < buku_10)
#Bernilai True karena kedua pernyataan bernilai True yaitu 4 < 10 dan 7 < 10

True

In [41]:
print(buku_10 == (pulpen_10 + pensil_10) and buku_10 >= (pulpen_10 - pensil_10))
#Bernilai False karena salah satu pernyataan bernilai False

False

In [42]:
print(pensil_10 > buku_10 and pensil_10 > pulpen_10)
#Bernilai False karena kedua pernyataan bernilai False

False

In [43]:
#Operator logika or
#Operator logika or bernilai True jika salah satu atau lebih dari pernyataan bernilai True
#Operator logika or bernilai False jika kedua pernyataan bernilai False
#Operator ini sama seperti disjungsi pada logika matematika

print(pulpen_10 > pensil_10 or buku_10 > pulpen_10)
#Output True karena kedua pernyataan bernilai True yaitu 7 > 4 dan 10 > 7

True

In [44]:
print(pensil_10 > buku_10 or pensil_10 < buku_10)
#Output True karena salah satu pernyataan bernilai True yaitu pensil_10 < buku_10, 4 < 10

True

In [45]:
print(pensil_10 >= pulpen_10 or buku_10 > (pensil_10 - pulpen_10))
#Output True karena salah satu pernyataan bernilai True yaitu buku_10 > (pensil_10 - pulpen_10), 10 > (4 - 7)

True

In [46]:
print(buku_10 < pulpen_10 or pensil_10 > pulpen_10)
#Output False karena kedua pernyataan bernilai False

False

**5.10 Operator If di Python**

In [47]:
#Operator if digunakan untuk mengambil keputusan berdasarkan suatu kondisi
#Operator if akan dijalankan apabila nilai variabel yang dijalankan adalah True
#Sedangkan kalau nilainya adalah False, maka tidak akan dijalankan
#Mendeklarasikan variabel
a = 20
b = 5

#Menjalankan operator if
if a + b >= 0:                    #kondisi 1
    print('Bilangan positif')     #aksi true 1
if a + b <= 0:                    #kondisi 2
    print('Bilangan negatif')     #aksi true 2

#Ingat!! setelah mendeklarasikan perintah if akhiri dengan tanda titik dua (:). Jika tidak akan error
# a + b = 25, dimana 25 lebih dari 0 sehingga termasuk bilangan positif

Bilangan positif

In [48]:
fmipa_10 = input("Hai, ")
jurusan = input("Kamu kuliah jurusan apa?")

if jurusan == "matematika":                               #kondisi 1
    print('Wah, pasti kamu pintar berhitung ya')          #aksi true 1
elif jurusan == "fisika":                                 #kondisi 2
    print("Wow,hebat sekali")                             #aksi true 2
elif jurusan == "kimia":                                  #kondisi 3
    print("Wii, ajarin kimia dong!!")                     #aksi true 3
elif jurusan == "informatika":                            #kondisi 4
    print("Bolehlah ajarin ngoding")                      #aksi true 4
elif jurusan == "farmasi":                                #kondisi 5
    print("Jago buat obat nih")                           #aksi true 5
elif jurusan == "biologi":                                #kondisi 6
    print('Suka sama tumbuhan ya? Keren')                 #aksi true 6
else:
    print("Yah, aku kurang tahu jurusan itu")             #aksi false

Hai, Bulan
Kamu kuliah jurusan apa?matematika
Wah, pasti kamu pintar berhitung ya

In [50]:
berat = float(input("Berapakah berat belanjaanmu?"))
kg_atau_gram =(input("Beratnya dalam kg atau gram?"))

if kg_atau_gram.upper() == 'KG':                                        #kondisi 1
    berat = berat*1000
    print("Berat belanjaanmu adalah " + str(berat) + " gram")           #aksi true 1
elif kg_atau_gram.upper() == 'INCI':                                    #kondisi 2
    berat = berat/1000
    print(f"Berat belanjaanmu adalah {berat} gram")                     #aksi true 2

Berapakah berat belanjaanmu?6
Beratnya dalam kg atau gram?kg
Berat belanjaanmu adalah 6000.0 gram